@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Lexend", sans-serif;
}

.kiri {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 25%);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.kiri .atas .logo {
    width: 100%;
    padding-left: 20px;
}

.kiri .atas nav {
    margin-top: 70px;
    width: 100%;
}

.kiri nav a {
    display: block;
    width: 100%;
    display: flex;
    margin-top: 50px;
    align-items: center;
    color: rgba(0, 0, 0, 40%);
    font-size: 20px;
}

.kiri nav a i {
    display: block;
    margin-right: 10px;
}

.kiri nav #homeNav {
    font-weight : bolder;
    color: #45ADE8;
}



.kiri .logout {
    width: 100%;
    margin-top: 200px;
}

.kiri .logout a {
    display: flex;
    color: rgba(0, 0, 0, 40%);
    font-size: 20px;
    align-items: center;
}

.kiri .logout a i {
    display: block;
    margin-right: 10px;
}

.kanan {
    width: 85%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

.header h1 {
    font-size: 25px;
}

.header .date {
    font-size: 20px;
}

.dashboard {
    width: 100%;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 24px 0px rgba(255, 255, 255, 25%);
}

.dashboard button {
    background-color: #f8f8f8;
    font-weight: bolder;
    width: 250px;
    height: 200px;
    border:none;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0px 8px 24px 0px rgba(255, 255, 255, 25%);
    transition: 0.2s linear;
}
.dashboard h1 {
    margin-bottom: 10px;
}

.dashboard button:hover {
    background-color: #21BF73;
    cursor: pointer;
}


